* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background: #4852ec;
    padding-inline: 16px;  /*  horizontal: esq e direita  */
}

/*
    VGA: 640 x 480p
    HD: 1280 x 720p
    Full HD: 1920 x 1080p
*/
.nav {
    height: 70px;
    max-width: 1280px;   /* largura da barra de navegação */
    /* centraliza a barra de navegação  */
    margin-inline: auto;  /* margin left e right automática  */

    /* usa exibição flex para posicionar os elementos dentro do nav */
    /* alinhamento padrão = row = linha */
    display: flex;
    /*  centraliza elementos dentro da barra nav */
    /* posicionamento horizontal */
    justify-content: space-between;
    /* posicionamento vertical*/
    align-items: center;
}

.logo-softgraf {
    width: 145px;
}

/* menu de opções */
.nav-list {
    display: flex; /*  flex-direction padrão = row */
    gap: 32px;
    list-style: none;  /* remove o marcador do li  */
}

/* links (tag a) dentro de cada li */
.nav-list a {
    color: #fff;
    font-size: 18px;
    /* aumenta a área vertical do clique */
    padding-block: 16px;
}

/*  main - conteudo da página */
.conteudo {
    height: calc(100vh - 70px);  /* calcula a altura do conteúdo */
    background: center / cover url(bg.jpg);
}

/* botão hamburguer */
.hamburguer {
    display: none;   /* none = esconde */
    background: none;
    border: none;
    /* cria a linha superior do hamburger */
    border-top: 3px solid #fff;
    cursor: pointer;
}

/* pseudo seletores: after e before */
.hamburguer::after,
.hamburguer::before {
    content: " ";
    background: #fff;
    display: block;
    width: 30px;
    height: 3px;
    margin-top: 5px;

    position: relative;
}

/* media queries para mobile */
@media (max-width: 576px){   /* tamanho small do bootstrap */

    .hamburguer {
        /* exibe o botão hamburguer */
        display: block;  
        z-index: 1;
    }

    /* posicionamentos para display block (padrão)
        position:
        - static (padrão): segue o fluxo juntos com outros elementos da página,
                           tendo o canto superior esquerdo como referência.
        - fixed: fixo em relação à tela, não permite que o elemento se mova.
        - sticky (pegajoso): fixo em relação ao rolamento da página.
        - relative: permite deslocar o elemento em relação à sua posição inicial.
        - absolute: posiciona o elemento filho em relação ao pai ou em relação à tela.
    */
    .nav-list {
        /* reposiciona nav-list para mobile apenas */
        position: fixed;
        top: 0;
        left: 0;
        /* usa o tamanho máxima da tela */
        width: 100vw;
        height: 100vh;

        /* exibe os itens do menu em coluna */
        flex-direction: column;
        background-color: #4852ec;
        /*  alinhamento vertical */
        justify-content: space-around;
        /* alinhamento horizontal  */
        align-items: center;
        gap: 0;

        /* desativa cliques em elementos ocultos */
        pointer-events: none;

        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;  /* ease-out = com final lento */
    }

    .nav-list a {
        font-size: 24px;
        /* esconde os links do menu antes do hamburguer ser clicado */
        opacity: 0;
    }

    
    .nav-list li:nth-child(1) a{
        transition: 0.5s 0.2s ease-in-out;
    }

    .nav-list li:nth-child(2) a{
        transition: 0.5s 0.4s ease-in-out;
    }

    .nav-list li:nth-child(3) a{
        transition: 0.5s 0.6s ease-in-out;
    }


     /* Estilos ativos (active): Desenha o X do botão hamburguer  */
    .nav.active .hamburguer{
        position: fixed;
        top: 26px;
        right: 16px;
        /* esconde a linha do topo do hamburguer */
        border-top-color: transparent;
    }

    /* rotaciona a linha intermediária do  hamburger  */
    .nav.active .hamburguer::before {
        transform: rotate(135deg);
    }

      /* rotaciona a linha inferior do  hamburger  */
    .nav.active .hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    .nav.active .nav-list {
        /* circulo cobre toda a tela */
        clip-path: circle(1500px at 90% -15%);
        /* permite acessar todos os recursos da tela */
        pointer-events: all;
    }

    .nav.active .nav-list a{
        /* mostra os links do menu */
        opacity: 1;
    }

}

